/*
Color palette:

#223333 very dark green (for background)
#386641 dark green
#6a994e green
#a7c957 light green
#f2e8cf beige (for text & contrast)
#bc4749 red (for contrast)

*/



body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: #223333;
  color: #f2e8cf;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

a {
  color: #f2e8cf;
  text-decoration: none;
}

h2,
li,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* <!-- .banner-container--> */

.banner-container {
  background-image: url("https://images.unsplash.com/photo-1560114928-40f1f1eb26a0?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

/* <!-- Header--> */

header {
  background: #223333;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid #bc4749;
  background-color: #6a994e;
}

nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.banner-container input {
  padding-left: 1em;
}

form button {
  color: #f2e8cf;
  text-align: center;
  font-size: 1.2em;
  background: #bc4749;
  border-radius: 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  padding: 7px 20px;
}

/* <!-- Main--> */

main {
  margin: 2.5% 5%;
}

/*Need to watch next chapter (Flexbox?) to better style the divs... 3 in each raw, equal height, etc...*/

h1 {
  text-align: center;
  font-size: 5em;
  margin-top: 2em;
}

#intro {
  text-align: center;
  font-size: 2em;
}

.cats div {
  background-color: #f2e8cf;
  color: #bc4749;
  font-size: 1em;
  width: 30%;
  margin: calc(10%/12);
  padding: 1em calc(10%/12);
  display: inline-block;
  vertical-align: top;

}

.cats div:nth-of-type(1) {
  margin-left: 0;
}

.cats div:nth-of-type(4) {
  margin-left: 0;
}

.cats div:nth-of-type(7) {
  margin-left: 0;
}

.cats div:nth-of-type(3) {
  margin-right: 0;
}

.cats div:nth-of-type(6) {
  margin-right: 0;
}

.cats div:nth-of-type(9) {
  margin-right: 0;
  /*probably not the best way to pick out single divs?*/
}


.cats img {
  width: 100%;
  height: 300px;
  /*probably not the best way to fix height*/
  border-radius: 2em;
  object-fit: cover;
}

.cats p {
  margin: 0;
  font-size: 1.2em;
  text-align: center;
}

.cats button {
  color: #f2e8cf;
  text-align: center;
  font-size: 1.2em;
  background: #bc4749;
  border-radius: 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  padding: 7px 20px;
  display: block;
  margin: 1em auto 0;
}

/* <!-- Contact Form--> */
.form_wrapper {
  margin: 2em 5%;
  border-top: 2px solid #f2e8cf;
}

.form_wrapper h2 {
  margin-top: 2em;
  font-size: 5em;
  text-align: center;
}

.form_wrapper p {
  font-size: 2em;
  text-align: center;
}

.form_wrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_wrapper form {
  width: 50%;
  margin: 1%;
  padding: 1%;

}

form input {
  outline: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 7px 0px;
  border-radius: 20px;
}

.form_wrapper input {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  font-size: 1.2em;
}

.form_wrapper textarea {
  width: 100%;
  height: 300px;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 1.2em;
}

.form_wrapper label {
  font-size: 1.5em;
}


.form_wrapper form .submit_button {
  width: 20%;
  display: block;
  margin: 0 auto;

  color: #f2e8cf;
  text-align: center;
  font-size: 1.5em;
  background: #bc4749;
  border-radius: 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  padding: 7px 20px;
  transition: transform ease 0.3s;
}


/* Button & link styling */

button {
  transition: transform ease 0.3s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.form_wrapper form .submit_button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

a {
  transition: font-size ease 0.3s;
}

a:hover {
  cursor: pointer;
  font-size: 1.1em;
}